#root {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table thead {
  background-color: #f2f2f2;
}

.table {
  width: 100%;
  border-collapse: collapse; 
  font-family: Arial, sans-serif; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.logo {
  height: 7em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff6464fd);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #8261fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) { /*media- устройства, @ - отсылка на внешнююю среду*/
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
